.header{
    border: 2px solid #000;
    background-color: aqua;
}

.nav1{
    border: 2px solid #000;
    background-color: blue;

}

.secao{
    border: 2px solid #000;
    background-color: blueviolet;
}

.italico{
    font-style: italic;
}
.rodape{
    border: 2px solid #000;
    background-color: burlywood;
}

.img_esq{
    display: inline-block;
    border: 1px solid #000;
    border-radius: 3px;
    float: left;
}

.img_dir{
    display: inline-block;
    border: 1px solid #000;
    border-radius: 3px;
    float: right;
}
p{
    display: inline;
}

td{
    text-align: left;
}