.header{
    border: 2px solid #000;
    background-color: aqua;
}

.nav1{
    border: 2px solid #000;
    background-color: blue;

}

.secao{
    border: 2px solid #000;
    background-color: blueviolet;
}

.italico{
    font-style: italic;
}
.rodape{
    border: 2px solid #000;
    background-color: burlywood;
}