body{
    background-color: antiquewhite;
}
.header{
    border: 2px solid #000;
    background-color: aqua;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-style: inherit;
}

.nav1{
    border: 2px solid #000;
    background-color: blue;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;

}

.link_nav{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #000;
}

.secao{
    border: 2px solid #000;
    background-color: blueviolet;
    height: 300px;
}

.italico{
    font-style: italic;
}
.rodape{
    border: 2px solid #000;
    background-color: burlywood;
}

.img_esq{
    display: inline;
    border: 1px solid #000;
    border-radius: 3px;
    float: left;
}

.img_dir{
    display: inline;
    border: 1px solid #000;
    border-radius: 3px;
    float: right;
}
p{
    display: inline;
}

td{
    text-align: left;
}