.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.helloWorld {
  background-color: rgb(59, 95, 212);
  color: black;
  text-align: center;
  font-size: 50px;
  border-bottom: 2px solid black;
  width: 100%;
  padding-bottom: 4px;
}

.imgm {
  width: 300px;
  border-radius: 100%;
  margin: 20px;
}

.sec {
  display: inline-flex;
  align-items: center;
  align-content: space-between;
}

.secImg {
  display: flex;
  margin-left: 100px;
}

.secText {
  display: flex;
  align-items: center;
  width: 40%;
  text-align: justify;
}

.hardSkills {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  border: 1px solid black;
  border-radius: 3px;
  margin-left: 50px;
  width: 400px;
}