.bloco-1 {
  /*display: flex;*/
}

.bloco-2 {
  /*display: flex;*/
}

.bloco-3 {
  /*display: flex;*/
}

.titulo {}

label {
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 400px;
}

label.radio-opcao {
  width: 100px;
  justify-content: flex-end;
}

input[type=text] {
  width: 300px;
}

input[type=email] {
  width: 300px;
}