* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bloco-1 {
  /*display: flex;*/
}

.bloco-2 {
  /*display: flex;*/
}

.bloco-3 {
  /*display: flex;*/
}

.titulo {}

.control {}

.control {}

.resumo-final-div {
  margin: 10px;
}

#radio {
  display: flex;
  width: 50%;
}

label {
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 400px;
}

label.radio-opcao {
  width: 100px;
  justify-content: flex-end;
  margin-right: 10px;
}

input[type=text] {
  width: 300px;
}

input[type=email] {
  width: 300px;
}

input[type=radio] {
  margin-right: 5px;
}

header h1 {
  text-align: center;
  background-color: rgb(246, 247, 248);
  border: 1px solid rgb(214, 217, 220);
  border-radius: 5px;
  width: 80%;
  margin: 40px 0;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: auto;
  margin-left: auto;
}